.accordion {
 border-top: 3px solid white;
 min-width: 600px;
}

.accordion-item {
    border-bottom: 3px solid white;
}

.accordion-title {
    background-color: #002147;
    border: none;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 1.2rem;
    justify-content: space-between;
    padding: 1.3rem 0;
    width: 100%;
}

.accordion-content {
    transition: height 1s ease-out;
    overflow-y: hidden;
}