html {
    background-color: #002147;
    color: rgb(245, 245, 245);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    margin: auto;
    max-width: 600px;
  }

.nav-links {
    border-bottom: 3px solid white;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    padding-left: 0;
    padding-bottom: 1rem;
}

.nav-item {
    padding-right: 2rem;
}

.nav-text {
    color: white;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-decoration: none;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
}

.nav-text:hover {
    font-size: 1.35rem;
    transition: all 300ms ease-in;
    -webkit-transition: all 300ms ease-in;
    -ms-transition: all 300ms ease-in;
    -moz-transition: all 300ms ease-in;
}